
.rong{
    background-color: aqua;
    border: 10px solid black;
    border-radius: 10px;
    margin: 100px;
    padding: 10px 10px 10px 10px;
    

}
.text center{
    text-align: justify;
}
.center{
    text-align: center;
    background-color: yellow;
   
}